.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error_input {
  border: 2px solid red;
}

.error_message {
  color: red;
  display: block;
}

.active_filter_button {
  background-color: cadetblue;
}

.doned_task {
  opacity: .4;
}